# Sniperkit-Bot
# - Date: 2018-08-11 23:49:10.5425416 +0200 CEST m=+0.207409358
# - Status: analyzed

*#
.#*
*-stamp
/*.yaml
/*.yml
/*.rules
*.exe

/prometheus
/promtool
benchmark.txt
/data
/cmd/prometheus/data
/cmd/prometheus/debug
/.build
/.release
/.tarballs

!/circle.yml
!/.travis.yml
!/.promu.yml
/documentation/examples/remote_storage/remote_storage_adapter/remote_storage_adapter
/documentation/examples/remote_storage/example_write_adapter/example_writer_adapter
